{% extends 'accounts/layout.html' %}

{% block content %}
<br>
<br>
<div class="row ">
        <div class="col s12 m6">
          <div class="card center-align">
            <div class="card-content black-text">
              <span class="card-title"><h4>Find the perfect room and roommate</h4></span>
            </div>
            <form class="site-form" action="/" method="post">
            <div class="card-content">
              {% csrf_token %}
              {{form}}
            </div>
            <div class="card-action">
              <input type="submit" value="Login" class="btn">
            </div>
          </form>
          </div>
        </div>
      </div>
{% endblock %}