{% extends 'accounts/layout.html' %}

{% block logout %}
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="/logout/">LOGOUT</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="card center-align">
    <div class="card-content">          
        <img class="img-responsive avatar-view center-align" alt="Profile Picture" src="/assets/{{student.image}}" width="100" height="150" class="center-align">
                   
        <h5>{{user.first_name}} {{user.last_name}}</h5>
        <p>B.Tech NITK Surathkal</p>
        <br>


        <style>
                             
                .tab {
                    overflow: hidden;
                    border: 1px solid #ccc;
                    background-color: #f1f1f1;
                }
                
                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                    font-size: 17px;
                }
                
                .tab button:hover {
                    background-color: #ddd;
                }
                
                .tab button.active {
                    background-color: #ccc;
                }

                .tabcontent {
                    display: none;
                    padding: 6px 12px;
                    border: 1px solid #ccc;
                    border-top: none;
                }
        </style>
        <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Profile')" id="defaultOpen">Profile</button>
                <button class="tablinks" onclick="openCity(event, 'Academics')">Academic Details</button>
                <button class="tablinks" onclick="openCity(event, 'Hostel')">Hostel</button>
              </div>
              
              <div id="Profile" class="tabcontent">
                    <table width="75%">
                            <tr>
                                <td>Roll No:</td> 
                                <td>{{student.roll_no}}</td>
                            </tr>
                            <tr>
                                <td>Branch:</td>
                                <td>{{student.branch}}</td>
                            </tr>
                            <tr>
                                <td>Sex:</td> 
                                <td>{{student.sex}}</td>
                            </tr>
                            <tr>
                                <td>Date Of Birth:</td> 
                                <td>{{student.birth_date}}</td>
                            </tr>
                            <tr>
                                <td>Semester:</td>
                                <td>{{student.current_semester}}</td>
                            </tr>
                            <tr>
                                <td>Date Of Join:</td>
                                <td>{{student.doj}}</td>
                            </tr>
                            <tr>
                                <td>Phone Number:</td> 
                                <td>{{student.phone_number}}</td>
                            </tr>
                            <tr>
                                <td>Email ID:</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Permanent Address:</td>
                                <td>{{student.permanent_addr}}</td>
                            </tr>
                        </table> 
              </div>
              
              <div id="Academics" class="tabcontent">
                    <table width="75%">
                            <tr>
                                <td>Grade 12 percentage:</td> 
                                <td>{{academics.grade12}}</td>
                            </tr>
                            <tr>
                                <td>GPA:</td>
                                <td>{{academics.GPA}}</td>
                            </tr>
                    </table>
              </div>
              
              <div id="Hostel" class="tabcontent">
                <table width="75%">
                    <tr>
                        <td>Block:</td> 
                        <td>{{hostel.block}}</td>
                    </tr>
                    <tr>
                        <td>Floor:</td> 
                        <td>{{hostel.floor}}</td>
                    </tr>
                    <tr>
                        <td>Room No:</td> 
                        <td>{{hostel.room_no}}</td>
                    </tr>
                    <tr>
                            <td>Roommate Roll No:</td> 
                            <td>{{roommate.roll_no}}</td>
                    </tr>
                    <tr>
                            <td>Roommate Name:</td> 
                            <td>{{roommate.student.first_name}}  {{roommate.student.last_name}}</td>
                    </tr>
                   
                </table>
              </div>
        
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }  
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>
        <br>
        <a class="btn" href="/profile/update/">Update</a>
        <a class="btn" href="/profile/about/1">Compatablity Assessment</a>
        {% if hostel.block == "None" %}
        <a class="btn" id="button" href="/room/">Select Room</a> 
        <a class="btn disabled">Reset Room</a>
        {% else %}
        <a class="btn disabled">Select Room</a>
        <a class="btn" href="/profile/reset/">Reset Room</a>
        {% endif %}
    </div>
</div>
{% endblock %}